{% extends 'serve_counter/base.html' %}
{% block title %}
    <h1 class="display-4 text-primary">今日の試合</h1>
{% endblock %}
{% block content %}
    <table class="table table-borderless">
        <tr>
            <th>
                <h2>{{ now }}</h2> 
            </th>
            <td class="text-end">
                <a href="{% url 'opponent' %}">
                    <input type="submit" value="試合の追加" class="btn btn-primary">
                </a>
            </td>
            <td width="60" class="text-end">
                <a href="{% url 'select' %}">
                    <input type="submit" value="戻る" class="btn btn-outline-primary">
                </a>
            </td>
        </tr>
    </table>
    <table class="table">
        <tr class="table-primary">
            <th>入力/結果</th><th>対戦相手</th><th>実施日</th>
        </tr>
        {% for item in g_data %}
        <tr class="align-middle">
            <td width="120">
            {% if item.game.end == False %}
                <a href="{% url 'input_t' item.game.id %}">
                    <input type="submit" value="入力" class="btn btn-primary">
                </a>
            {% else %}
                {{item.hoshi}}  {{ item.score }}
            {% endif %}
            </td>
            <td>
                {{ item.game.opponent }}
            </td>
            <td>
                {{ item.game.datestr }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <p>今日の試合と、確定していない試合が表示されます。</p>
        
    
{% endblock %}